$background-img:url(../img/m-h-day.jpg);
$fontcolor:black;
$marker_color:#14a0c7;
$bgcolor:white;
$buttncolor:#699900;
$sectionbgcolor:#21232e;
$leftcolor:#639315;
$rightcolor:#2e5cd5;
$footercolor:#21232e;