$background-img:url(../img/m-h-night.jpg);
$fontcolor:white;
$marker_color:#ff4e33;
$bgcolor:#21232e;
$buttncolor:#e3ac00;
$sectionbgcolor:#3b3f50;
$leftcolor:#d99d09;
$rightcolor:#953051;
$footercolor:#3b3f50;